@font-face {
  font-family: 'big_sans';
  src: url('../../fonts/MINI-Serif/mini_serif-regular-webfont.woff');
}

.Take {
  color: black;
  font-family: 'big_sans';
  font-size: 1rem;
  text-transform: uppercase;
  text-align: center;
  margin-top: 1.2rem;
  margin-bottom: 0.5rem;
}

.LineUp {
  color: black;
  font-family: 'big_sans';
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  padding: 0rem 4rem;
  margin-bottom: 1.2rem;
}

@media screen and (min-width: 425px) {
  .LineUp {
    padding: 0rem 7rem;
  }
}

@media screen and (min-width: 768px) {
  .Take {
    margin: 0;
  }
}

@media screen and (min-width: 768px) {
  .LineUp {
    font-size: 3rem;
    margin-bottom: 2rem;
    line-height: 1.3;
  }
  .Take {
    font-size: 1.25rem;
  }
}

@media screen and (min-width: 1440px) {
  .LineUp {
    margin-bottom: 2.5rem;
  }
  .Take {
    margin-top: 1.25rem;
  }
}
